.custom-table{
    width: 800px;
    height: auto;
    margin:0 auto;
    margin-top: 10px;
    border: 1px solid #cccccc;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #cccccc;
    text-align: center;
}
form{
    width: 800px;
    margin:auto;
}
th{
    padding:6px 0;
}
td{
    padding:4px 0;
}
.router-link-active{
    color:red;
}
.link{
    background:#cccccc;
    padding:5px 10px;
    margin:0 30px;
    font-size:18px;
    cursor:pointer;
}
.wait{
    width:4px;
    height:20px;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background: #000000;
    animation:wait .5s linear infinite alternate;
}
.wait{
    width:4px;
    height:20px;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    background: #000000;
    animation:wait .5s linear infinite alternate;
}
.wait:before{
    content:'';
    width:4px;
    height:20px;
    position: absolute;
    left:-8px;
    top:0;
    background: #000000;
    animation:wait 1s linear infinite alternate;
}
.wait:after{
    content:'';
    width:4px;
    height:20px;
    position: absolute;
    left:8px;
    top:0;
    background: #000000;
    animation:wait 1.5s linear infinite alternate;
}
@keyframes wait {
    0%{
        transform:scale(1,0.5);
    }
    100%{
        transform: scale(1,1.2);
    }
}
.info{
    width:200px;
    height:50px;
    border-radius: 10px;
    background: rgba(0,0,0,0.7);
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    animation: autohide 2s ease;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    opacity:0;
}
@keyframes autohide {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}